*{
	box-sizing: border-box;
}
body{
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333;
}
.section{
	padding: 30px 15%;
}
.header{
	text-align: center;
	font-size: 24px;
}
.header span{
	font-weight: 300;
	display: block;
}
.header strong{
	font-weight: 900;
	text-transform: uppercase;
}
.main{
	margin-top: 80px;
	text-align: center;
}
.video, .form{
	display: inline-block;
	vertical-align: top;
}
.form{
	margin-left: 30px;
	border: 5px solid blue;
	padding: 20px 20px 32px 20px;
	text-align: center;
}
.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;

}
.form input{
	width: 300px;
	padding: 17px;
	border: 1px solid #333;
	font-size: 18px;
	margin-top: 11px;
	display: block;
}
.btn{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: blue;
	border: none;
	width: 300px;
	height: 60px;
	margin: 11px auto;
	display: block;
}
.section-header{
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}
.feature{
	margin: 60px auto;
	text-align: center;
}
.col_1{
	display: inline-block;
	text-align: center;
	margin: 10px 30px;
}
.photos{
	margin: 50px auto;
	text-align: center;
	padding: 0 10%;
}
.col_2{
	display: inline-block;
	margin: 18px 14px;
}

