@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../fonts/BebasNeueCyrillic.eot');
    src: local('../fonts/Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/BebasNeueCyrillic.ttf') format('truetype'),
        url('../fonts/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: local('../fonts/Lato Regular'), local('Lato-Regular'),
        url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.text-box{
    padding-top: 2rem;
}
.result{
    margin-bottom: 0;
    margin-top: 3rem;
}
.fonts{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}
small{
    font-size: 1.3rem;
}
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.bebas{
    font-family: 'Bebas Neue Cyrillic';
}
.lato{
    font-family: 'Lato';
}
.lobster{
    font-family: 'Lobster', cursive;
}